@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

/*
Vars
*/

$beige: #A09B88;
$grey: #C0C5CB;
$blueberry: #6B7A8F;
$apricot: #F7882F;
$citrus: #F7C331;
$apple-core: #DCC7AA;
$black: #000;
$white: #fff;

body {
	//font-family: 'Bellota', cursive;
	font-family: 'Ubuntu', sans-serif;
	// font-family: 'Noto Sans HK', sans-serif;
	color: $black;
	background-color: $white;
	font-display: swap;
}

.row {
	margin: 0;
}

h2 {
    padding: 40px 0;
    margin: 0;
}

hr {
	width: 100%;
}

a {
	color: $apricot;

	&:hover {
		color: $blueberry;
		;
	}
}

button {
	&:hover {
		cursor: pointer;
	}

	&:focus {
		outline: none;
		box-shadow: none;
	}
}

.align-center {
	align-self: center;
}

/*
Fonts 
*/
//@import url('https://fonts.googleapis.com/css2?family=Bellota:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@100;300;400;500;700;900&display=swap');

/*
Mixins 
*/