@import "_config.scss";

/*
******* NAV *******
*/
nav {
    position: fixed;
    top: 0;
    background-color: $white;
    display: block;
    width: 100%;
    z-index: 5;

    .nav-right {
        padding-left: 20%;

        a {
            color: $black;

            &:hover {
                color: $blueberry;
            }
        }

        .nav-item {
            text-align: center;
        }
    }
}

/*
******* Header *******
*/
.header {
    .header-container {
        margin: 0;
        padding-left: 0;
        padding-right: 0;

        h1 {
            //position: absolute;
            //top: 50%;
            z-index: 2;
            width: 100%;
            text-align: center;
            align-self: center;
        }

        .header-item {
            padding: 0;
        }

        .header-carousel {
            width: 100%;
            overflow: hidden;
            height: 80vh;

            div {
                height: 90vh;
            }

            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}

/*
******* Appointment Section *******
*/
.appointment {
    .appointment-container {
        background-color: $grey;
        color: $white;
        display: flex;
        padding: 20px 0;

        .appt-link {
            margin: 2em auto;
            padding: 10px 30px;
            width: 60%;
            background-color: $white;
            color: $apricot;
            border: none;
            border-radius: 7px;
            text-transform: uppercase;
            transition: 0.3s;

            &:hover {
                color: $white;
                background-color: $apricot;
                text-decoration: none;
            }
        }
    }
}

/*
******* Home Page *******
*/
.home-page {
    h1 {
        position: absolute;
        top: 50%;
        color: $white;
    }

    .welcome-container {
        display: flex;
        flex-wrap: wrap;
        background-color: $apple-core;
        color: $white;

        h2 {
            width: fit-content;
            text-shadow: 2px 2px rgba(0, 0, 0, 0.08);
        }

        .title-container {
            display: flex;
            width: 100%;
        }

        .title-seperator {
            position: relative;
            height: 6px;
            flex-grow: 1;
            display: flex;
            align-self: center;
            margin: 0 20px;

            .title-sep {
                position: relative;
                display: block;
                width: 100%;
                border-top: 1px solid $white;
                border-bottom: 1px solid $white;
                -webkit-box-sizing: content-box;
                box-sizing: content-box;
            }
        }

        .welcome-text {
            width: 100%;
            margin: 0 20%;

            p {
                display: block;
                margin-bottom: 7%;
                margin-top: 2%;
                text-shadow: 2px 2px rgba(0, 0, 0, 0.08);
            }
        }
    }

    .brands-container {
        padding: 0;

        h2 {
            width: fit-content;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 20px;
            position: relative;
            padding-bottom: 20px;
            padding-left: 10px;
            padding-right: 10px;

            &:after {
                content: "";
                border: $apricot solid 5px;
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
            }
        }

        .brands-tiles {
            margin: 0;
            //height: 204px;
            overflow: hidden;
            display: flex;

            .brands-tiles__item {
                position: relative;
                padding: 0;
                // height: 250px;
                width: 12.5%;
                display: inline-flex;

                &:hover {
                    cursor: pointer;

                    span {
                        display: block;
                    }
                }

                img {
                    width: 100%;
                }

                span {
                    position: absolute;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    padding-top: 40%;
                    display: none;
                    text-align: center;
                    color: $white;
                    background-color: rgba($color: #000000, $alpha: 0.6);
                }
            }
        }
    }

    .history-container {
        .history-info {
            padding-bottom: 4em;
            img {
                width: 100%;
                height: 250px;
            }

            .text-container {
                display: flex;

                p {
                    line-height: 2;
                    align-self: center;
                }
            }
        }
    }
}

/*
******* About Us Page *******
*/
.about-us {
    .header-container {
        margin-top: 4em;

        .header-item {
            background-image: url(../images/photoshoots/ps_5.jpg);
            height: 400px;
            background-position: center;
            background-size: cover;

            h1 {
                color: $white;
            }
        }
    }

    .about-us-container {
        h2 {
            margin: 30px 0;
        }

        .about-us__bio {
            margin-bottom: 40px;

            img {
                margin: auto;
                display: block;
            }

            .text-container {
                display: flex;

                p {
                    line-height: 1.8;
                    align-self: center;
                }
            }
        }
        
        .about-us__mission {
            background-color: $apricot;
            color: $white;

            p {
                padding: 0 100px;
                margin-bottom: 30px;
            }
        }

        .about-us__goals {
            margin: 40px 0 0 0;

            ion-icon {
                margin: 10px auto;
                display: block;
                font-size: 64px;
                color: $grey;

                &:hover {
                    color: $citrus;
                }
            }

            p {
                text-align: center;
                color: $grey;
                margin-top: 10px;
            }
        }

        .about-us__clients {
            margin-bottom: 3em; 

            h2 {
                margin: 0;
            }

            p {
                margin-bottom: 40px;
            }

            img {
                width: 100%;
                height: 100px;
                border-radius: 10px;
            }
        }
    }
}

/*
******* Brands Page *******
*/
.brands {
    background-color: #efeeec;
    .header-container {
        margin-top: 4em;
        background-color: $apple-core;

        .header-item {
            //height: 100px; 

            h1 {
                color: $white;
                text-shadow: 2px 2px rgba(0, 0, 0, 0.08);
                align-self: center;
                padding: 40px 0;
            }
        }
    }

    .brands-container {
        .brands__tiles {
            margin: 0 10%;
            padding: 5% 0;
            .brands__tiles-item {
                margin-bottom: 20px;
            }

            img {
                display: block;
                margin: auto;
                background-color: $white;
                -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.08); 
                box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.1);
            }

            span {
                margin-top: 10px;
            }
        }
    }
}

/*
******* Ind Brands Page *******
*/
.ind-brands {
    background-position: right top;
    background-size: contain;
    background-repeat: no-repeat;

    .overlay {
        background-color: rgba($color: #36393f, $alpha: 0.4);
    }

    .header-container {
        margin-top: 4em;

        .header-item {
            height: 100px; 

            h1 {
                color: $white;
                align-self: center;
            }
        }
    }

    .ind-brands-container {
        .ind-brands__details {
            .ind-brands__details__container {
                padding: 2% 60% 8% 20px;

                a {
                    color: $white;

                    &:hover {
                        cursor: pointer;
                        text-decoration: underline;
                        color: rgba($color: #fff, $alpha: 0.7);
                    }
                }

                .ind-brands__text {
                    line-height: 1.8;
                    color: $white;
                    padding-top: 20px;
                }
            }
        }

        .ind-brands__tiles {
            background-color: $white;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            grid-auto-rows: 200px;
            grid-gap: 5px;
            grid-auto-flow: dense;

            .ind-brands__tiles__item {
                padding: 0;
            }

            .horizontal{
                grid-column: span 2;
            }

            .vertical {
                grid-row: span 2;
                grid-column: span 2;
            }

            .vertical-long {
                grid-row: span 3;
                grid-column: span 2;
            }

            .big{
                grid-column: span 3;
                grid-row: span 3;
            }

            .small {
                grid-row: span 1;
                grid-column: span 1;
            }

            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}

/*
******* Schedule Page *******
*/
.schedule {
    .header-container {
        margin-top: 4em;

        .header-item {
            background-image: url(../images/banner/banner_4.jpg);
            //https://pngtree.com/freebackground/yellow-gray-minimalist-cut-geometry-memphis-banner_931578.html
            height: 200px;  
            background-size: cover;
            background-position: left;

            h1 {
                align-self: center;
                color: $white;
                text-shadow: rgba(0, 0, 0, 0.08);
            }
        }
    }

    .schedule-container {
        h2 {
            font-size: 18px;
            padding-bottom: 0;
        }

        .schedule__latest {
            p {
                margin-bottom: 37px;
            }

            .schedule__image {
                padding: 0;
                border: 1px solid #000;

                img {
                    width: 100%;
                    height: 250px;
                }
            }
        }

        .schedule__next {
            padding-top: 20px;
            background-color: $apple-core;

            ion-icon {
                font-size: 50px;
            }

            h2 {
                padding-top: 10px;
                padding-bottom: 20px;
            }
        }

        .schedule__calendar {
            //margin-top: 60px;
            h2 {
                text-align: center;
                padding-bottom: 24px;

                a {
                    color: $citrus;
                    text-decoration: none;

                    &:hover {
                        color: $apricot;
                        text-decoration: underline;
                    }
                }
            }

            .diary {
                //margin-top: 30px;

                .rbc-event {
                    background-color: $blueberry;
                }

                .rbc-btn-group {
                    button {
                        border-radius: 30em;
                        background-color: $apricot;
                        border-color: unset;
                        color: $white;
                        text-shadow: 1px 1px rgba(0, 0, 0, 0.08);
                    }

                    .rbc-active {
                        background-color: $citrus;
                    }
                }

                .rbc-toolbar {
                    margin-bottom: 1em;
                }

                .rbc-toolbar-label {
                    font-size: 20px;
                    padding-left: 7%;
                }

                .rbc-today {
                    background-color: $apple-core;
                }
       
                .rbc-day-slot.rbc-today {
                    background-color: $white;
                }

                .rbc-allday-cell {
                    .rbc-today {
                        background-color: $white;
                    }
                }
            }
        }
    }
}

/*
******* Contact Page *******
*/
.contact {
    .header-container {
        margin-top: 4em;

        .header-item {
            background-image: url(../images/banner/banner_5.jpg);
            height: 200px;  
            background-position: center;

            h1 {
                align-self: center;
                color: $white;
                text-shadow: rgba(0, 0, 0, 0.08);
            }
        }
    }

    .contact-container {
        padding-left: 40px;

        .contact__info {
            .contact__details {
                align-self: center;
            }

            .contact__map {
                height: 500px; 
            }

            h2 {
                text-align: left;
                font-size: 24px;
                padding: 10px 0;
            }

            .contact__details-item {
                display: flex;
                //width: 100%;
                width: fit-content;
                margin: 10px 0;

                &:hover {
                    ion-icon {
                        color: $citrus;
                        background-color: $blueberry;
                    }
                }

                ion-icon {
                    margin-right: 10px;
                    color: $apple-core;
                    background-color: $apricot;
                    font-size: 16px;
                    border-radius: 50%;
                    padding: 7px;
                    align-self: center;
                }

                span {
                    align-self: center;
                }
            }
        }

        hr {
            margin-top: 0;
        }

        .contact__form {
            margin: 0 20% 5% 20%;

            form {
                .form-control {
                    max-height: 10px;
                    transition: max-height 0.15s ease-out;
                    overflow: hidden;
                    border-top: none;
                    border-left: none;
                    border-right: none;
                    border-bottom: 1px solid #ced4da;
                    border-radius: unset;

                    &:focus {
                        max-height: 30px;
                        transition: max-height 0.25s ease-in;
                        border-color: $apricot;
                        border-width: 2px;
                        box-shadow: unset;
                    }
                }

                .form-group {
                    margin-top: 20px;
                }

                .btn {
                    margin: auto;
                    display: block;
                    background-color: $apple-core;
                    border: none;
                    padding: 5px 35px;
                }
            }
        }
    }
}

/*
******* FOOTER *******
*/
footer {
    background-color: $black;
    padding: 1.5em 2em;
    color: $white;

    ul {
        padding-left: 0;

        li {
            list-style: none;
            text-align: center;

            a {
                color: $white;

                &:hover {
                    color: $apricot;
                }
            }
        }
    }
}
